.dateButton {
    align-items: center;
    background-image: linear-gradient(144deg,#eba6f8,#009ba6);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(255, 189, 248, 0.502) 0 15px 15px -5px;
    box-sizing: border-box;
    color: #ffffff;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 19px 24px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    position: absolute;
    top: 24%;
    left: 39%;

  }
  
  .dateButton:active,
  .dateButton:hover {
    outline: 0;
  }
  
  @media (min-width: 768px) {
    .dateButton {
      font-size: 24px;
      min-width: 196px;
    }
  }